<div id="footer">
<h1>Quick Links</h1>
  <div class="footerDiv" style="width: 10%; float:left;">
  <a href="/stylist/new">Add A Stylist</a>
  </div>
  <div class="footerDiv" style="width: 10%; float:left;">
  <a href="/stylist/clear">Clear All Stylists</a>
  </div>
  <div class="footerDiv" style="width: 10%; float:left;">
  <a href="/">View all Stylists</a>
  </div>
  <div class="footerDiv" style="width: 10%; float:left;">
  <a href="/">Return to Homepage</a>
  </div>
</div>
