@{
  Layout = "_Layout";
}

<h1>Add A Stylist</h1>
<form id="newStylist" action="/stylist/new" method="post">
  <label for="lastname">Enter Last Name</label>
  <input type="text" name="lastname" id="lastname">
  <label for="firstname">Enter First Name</label>
  <input type="text" name="firstname" id="firstname">
  <button class="button" type="submit" name="button">Add</button>
</form>
